<div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row elem-busqueda no-gutters">
          <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 busqueda">
            <p>Piloto</p>
            <input type="text" name="Piloto" id="piloto" [(ngModel)]="piloto" >
          </div>
          <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 busqueda">
            <p>Circuito</p>
            <input type="text" name="Circuito" id="circuito" [(ngModel)]="circuito">
          </div>
          <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 busqueda">
            <p>Temporada</p>
            <select name="Temporada" id="Temporada" [(ngModel)]="temporada">
              <option value="">Todas</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
              <option value="2013">2013</option>
              <option value="2012">2012</option>
              <option value="2011">2011</option>
              <option value="2010">2010</option>
              <option value="2009">2009</option>
              <option value="2008">2008</option>
              <option value="2007">2007</option>
              <option value="2006">2006</option>
              <option value="2005">2005</option>
              <option value="2004">2004</option>
              <option value="2003">2003</option>
              <option value="2002">2002</option>
              <option value="2001">2001</option>
              <option value="2000">2000</option>
              <option value="1999">1999</option>
              <option value="1998">1998</option>
              <option value="1997">1997</option>
              <option value="1998">1998</option>
              <option value="1996">1996</option>
              <option value="1995">1995</option>
              <option value="1994">1994</option>
              <option value="1993">1993</option>
              <option value="1992">1992</option>
              <option value="1991">1991</option>
              <option value="1990">1990</option>
              <option value="1989">1989</option>
              <option value="1988">1988</option>
              <option value="1987">1987</option>
              <option value="1986">1986</option>
              <option value="1985">1985</option>
              <option value="1987">1987</option>
              <option value="1984">1984</option>
              <option value="1983">1983</option>
              <option value="1982">1982</option>
              <option value="1981">1981</option>
              <option value="1980">1980</option>
              <option value="1979">1979</option>
  
            </select>
          </div>
          <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 busqueda">
            <button id="buscar" (click)="buscar_coche()">Buscar</button>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <table class="coches">
          <tr>
            <td>
              Marca
            </td>
            <td class="espacio">
              Nacionalidad
            </td>
            <td class="espacio">
              Información
            </td>
          </tr>
          <tr *ngFor="let coche of coches">
            <td>
              {{ coche.name }}
            </td>
            <td class="espacio">
              {{ coche.nationality }}
            </td>
            <td class="espacio">
              <a href="{{ coche.url }}" target="_blank">Ver {{ coche.name }}</a>
            </td>
          </tr>
        </table>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="pag">
          <p>Páginas: </p>
          <!-- <p (click)="pag_anterior()"><a>&#60;&#60;Anterior</a></p> -->
          <p *ngFor="let num_pag of total_pag" (click)="pagina_coches(num_pag)">{{ num_pag }}</p>
          <!-- <p (click)="siguiente_pag()"><a>Siguiente&#62;&#62;</a></p> -->
        </div>
      </div>
    </div>
  </div>
