<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="row elem-busqueda no-gutters">
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 busqueda">
          <p>Piloto</p>
          <input type="text" name="Piloto" id="piloto" [(ngModel)]="piloto" >
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 busqueda">
          <p>Circuito</p>
          <input type="text" name="Circuito" id="circuito" [(ngModel)]="circuito">
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 busqueda">
          <p>Coche</p>
          <input type="text" name="Coche" id="coche" [(ngModel)]="coche">
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 busqueda">
          <p>Temporda</p>
          <input type="text" name="Temporada" id="temporada" [(ngModel)]="temporada">
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 busqueda">
          <button id="buscar" (click)="buscar_conductores()">Buscar</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <table class="temporadas">
        <tr>
          <td>
            Nombre
          </td>
          <td class="espacio">
            Apellido
          </td>
          <td>
            Nacionalidad
          </td>
          <td>
            Fecha nacimiento
          </td>
          <td>
            Información
          </td>
        </tr>
        <!-- Codigo conductores -->
        <tr *ngFor="let conductor of conductores">
          <td>
            <a routerLink="/drivers/{{ conductor.familyName }}" routerLinkActive="active">{{ conductor.givenName }}</a> 
          </td>
          <td>
            {{ conductor.familyName }}
          </td>
          <td>
            {{ conductor.nationality }}
          </td>
          <td>
            {{ conductor.dateOfBirth }}
          </td>
          <td class="espacio">
            <a href="{{ conductor.url }}" target="_blank">Biografia</a>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="pag">
        <p>Páginas: </p>
        <!-- <p (click)="pag_anterior()"><a>&#60;&#60;Anterior</a></p> -->
        <p *ngFor="let num_pag of total_pag" (click)="pagina_conductores(num_pag)">{{ num_pag }}</p>
        <!-- <p (click)="siguiente_pag()"><a>Siguiente&#62;&#62;</a></p> -->
      </div>
    </div>
  </div>
</div>
