<img src="assets/cabecera.jpg" alt="No se ha podido cargar la imagen" style="
width: 100%;">
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 menu">
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
          <li><a routerLink="/circuitos" routerLinkActive="active">Circuitos</a></li>
          <li><a routerLink="/drivers" routerLinkActive="active">Conductores</a></li>
          <li><a routerLink="/temporadas" routerLinkActive="active">Temporadas</a></li>
          <li><a routerLink="/coches" routerLinkActive="active">Coches</a></li>
        </ul>
      </div>

  </div>
</div>
